// Define variables for your color scheme

// For example:
$yellow-light: #fcde67;
$yellow: #fcde67;
$yellow-dark: #ffbc00;
$white: #ffffff;
$blue-light: #5bccf6;
$blue: #5bccf6;
$black: #030e12;

$red: #FD1015;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
