// Define variables for your color scheme

// For example:
$yellow-light: #fcde67;
$yellow: #fcde67;
$yellow-dark: #ffbc00;
$white: #ffffff;
$blue-light: #5bccf6;
$blue: #5bccf6;
$blue-dark: #057ca7;
$black: rgb(46, 46, 46);

$red: #FD1015;
$orange: #E67E22;
$green: #494a49;
$gray: #807b7b;
$light-gray: #F4F4F4;
