.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px;

  a {
    text-decoration: none;
  }
}

.card-grid-booking {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.card-grid-cell-booking {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-grid-title h2 {
  color: $black;
  font-size: 28px;
  margin-bottom: 50px;
  font-weight: 700;
}

.map-area {
  width: 100%;
  margin-top: 24px;
}

.invisible {
  visibility: hidden;
}

.floaty-card {
  position: relative;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  font-size: 20px;
}

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
}
