.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px;

  a {
    text-decoration: none;
  }
}

.card-grid-booking {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.card-grid-cell-booking {
  justify-content: center;
  align-items: center;
  text-align: center;
}
