// Specific CSS for your home-page

// GRID
.floaties-grid {
  height: 100vh;
  // padding-top: 30px;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px;

  a {
    text-decoration: none;
  }
}

.card-grid-booking {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.card-grid-cell-booking {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-grid-title {
  margin-top: 90px;
}

.card-grid-title h2 {
  color: $black;
  font-size: 28px;
  margin-bottom: 50px;
  font-weight: 700;
}


.type-text {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  color: white;
}


// Chevron
.chevron {
  border-radius: 50%;
  font-size: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: $white;
  padding: 15px;
  transition: all 0.5s ease;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

  &:hover {
    color: $yellow-dark;
  }
}
