
.container_myfloaties {
    margin-top: 60px;
}

.list_count {
  margin-bottom: 50px;
  margin-top: 50px;
}

.my_floaty-card {
  width: 150px;
  height: 100px;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;

  img {
    height: 100%;
    border-radius: 10px;
  }
}

.floaty_info {
  color: $black;
  font-size: 13px;
  font-weight: 400;
}

.floaty_info_head {
  color: $black;
  font-size: 13px;
  font-weight: 600;
}

.green {
  color: green;
  font-size: 15px;
}

.red {
  color: red;
  font-size: 15px;
}


.edit_btn {
  font-size: 20px;
}


hr.divider {
  border-top: 1px solid #bbb;
}
