.my_floaties_list {
  margin-top: 100px;

  .list_count {
    margin-bottom: 50px;
  }

  .my_floaty {
    // display: flex;
    // width: 100%;

    .my_floaty-card {
      // height: 100px;
      overflow: hidden;
      object-fit: fill;
      border-radius: 10px;
    }
  }

  .my_floaties_details {
    display: flex;
    align-items: center;
    margin-left: 30px;

    .my_floaty_title {
      color: $black;
      font-size: 15px;
      font-weight: 500;
      width: 300px;
    }

    .my_floaty_status {
      color: $gray;
      font-size: 14px;
      font-weight: 400;
      width: 200px;

      .green {
        color: green;
        font-size: 15px;
      }

      .red {
        color: red;
        font-size: 15px;
      }
    }

    .my_floaty_location {
      color: $black;
      font-size: 14px;
      font-weight: 400;
      width: 200px;
    }

    .last_modified {
      color: $black;
      font-size: 14px;
      font-weight: 400;
      width: 100px;
    }

    .edit_btn {
      font-size: 20px;
    }
  }
}

.header {
  font-size: 15px;
  color: $gray;
  font-weight: 500;
}

#photo_header {
  height: 0px;
  margin-top: 50px;
}

hr.divider {
  border-top: 1px solid #bbb;
}
