<%# NAVBAR %>
<div class="container ">
  <% if @bookings.count > 0  %>
    <% @bookings.each do |booking| %>

      <h3><%= booking.start_date %></h3>
      <p><%= booking.end_date %></p>
    <% end %>
  <% else %>
    <p>You have no active bookings.</p>
  <% end %>
</div>
