<div class="container">
  <h1>Create a booking</h1>

  <%= simple_form_for [@floaty, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit  %>
  <% end %>
</div>
