<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-links">
    <div class="logo">
      <%= image_tag "logo.png" %>
    </div>
    <a href="#" id="credits">  Batch 1036  .  Patris . Samuel . Daria . João</a>
  </div>
</div>
