<html>
  <%# BANNER %>
  <div class="landing-bck-img">
    <%# NAVBAR %>
    <%= render "shared/navbar" %>
  </div>

    <%# TYPRSCRIPT
    <div class="type-text" >
      <h1><span data-controller="typed-js"></span></h1>
    </div> %>

    <%# SEE MAP BUTTON %>
    <%= link_to floatiesmap_path do %>
      <div class="map-list-button">
          <div>
            <h3>Show map</h3>
          </div>
          <div>
            <i class="fa-regular fa-map symbol"></i>
          </div>
      </div>
    <% end %>
  </div>
</html>
