<div data-controller="refresh-list navbar">
  <section class="section section-1">
    <%# Navbar  %>
    <div class="landing-bck-img">
      <%= render "shared/navbar_home" %>
    </div>

    <%# Scrolling Button  %>
    <div class="scroll-down"
          data-navbar-target="scrollbutton"
          data-controller="scroll-up-down"
          data-action="click->scroll-up-down#scroll">
      <i class="fa-solid fa-chevron-down chevron"></i>
    </div>
  </section>

  <%= render "list", floaties: @floaties %>
</div>


<%= react_component('HelloMessage', name: 'John') %>
