<html>
  <%# BANNER %>
  <div>
    <%# NAVBAR %>
    <%= render "shared/navbar" %>
  </div>
  <div>
    <%# MAP %>
    <%= render "map" %>
  </div>
  <div>
    <%# SEE LIST BUTTON %>
    <%= link_to root_path do %>
      <div class="map-list-button">
        <div>
          <h3>Show list</h3>
        </div>
        <div>
          <i class="fa-solid fa-list symbol"></i>
        </div>
      </div>
    <% end %>
  </div>
</html>
