<%# BANNER %>
<div class="landing-bck-img">

  <%# NAVBAR %>
  <div class="navbar-floaties">
    <%= render "shared/navbar" %>
  </div>

  <%# SEARCHBAR %>
  <div class="container" >

    <%# TYPRSCRIPT %>
    <h1><strong><span data-controller="typed-js"></span></strong></h1>

    <%# SEARCH FORM %>
    <%= form_with url: floaties_path, method: :get, class: "d-flex" do %>
      <div class="search-form-control form-group  flex-grow-1">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a floaty in ..."
        %>
        <%= submit_tag "Search", class: "btn btn-flat"  %>
      </div>
    <% end %>
  </div>
</div>

<div id="floaties-grid">

<h1>lkjhjkhj</h1>
<h1>lkjhjkhj</h1>

</div>


<a href="#google"></a>


