<div>
  <%# NAVBAR %>
  <%= render "shared/navbar" %>
</div>
<div>
  <%# Total of reservations %>
<h4 class="list_count"><%= @floaties.count %> Listings</h4>

  <div class="container ">
    <div class="row">
      <%# HEADER %>
      <div class="col-3">PHOTO</div>
      <div class="col-2">TITLE</div>
      <div class="col-2">STATUS</div>
      <div class="col-2">LOCATION</div>
      <div class="col-2">LAST MODIFIED</div>
      <div class="col-1">EDIT</div>
      <hr class="divider">
    </div>

    <% @floaties.each do |floaty| %>
      <%# Retrive city name from coordinates %>
      <% lat = floaty.latitude %>
      <% lon = floaty.longitude %>
      <% lat_lon = "#{lat},#{lon}" %>
      <% response = Geocoder.search(lat_lon).first %>
      <% city =  response.city if response.present?%>

      <% if floaty.photos.attached? %>
          <div class="col-3 my_floaty-card">
            <img src=" <%= cl_image_path floaty.photos.first.key %> " class="d-block w-100" alt="...">
          </div>
        <% else %>
          <div class="my_floaty-card">
            No photo
          </div>
      <% end %>

    <% end %>

  </div>
</div>
