.landing-bck-img {
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), asset-url("background.png");

  .container {
    width: 50%;
    padding-top: 120px;
    justify-content: center;

    h1 {
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 35px;
    }
  }
}

.map-container {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-color: #ffbc00;
  position: fixed;
  bottom: 20px;
  right: 20px;
  align-items: center;
  color: black;
  padding: 15px;
  outline: black solid .5px;

  h3 {
    margin: 0;
    font-size: 18px;
  }

  .map-symbol {
    color: black;
    font-size: 30px;
  }
}



// .banner h1 {
//   margin: 0;
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 32px;
//   font-weight: bold;
//   margin-bottom: 35px;
// }

// .banner p {
//   font-size: 20px;
//   color: white;
//   opacity: .7;
//   margin-bottom: 31px;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }
