.banner {
  background-size: cover;
  background-position: center;
  padding: 110px 0;
  width: 100%;
  height: 100vh;
  margin-bottom: 79px;
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url("background.png");
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), asset-url("background.png");
  // background-color: $yellow-dark;

  .container {
    width: 50%;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 35px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  margin-bottom: 31px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
