.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: $black;
  padding: 8px 24px;
  border-radius: 4px;
  background: $yellow-dark;
  transition: background 0.3s ease;
  position: fixed;
  bottom: 60px;
  z-index: 1;
}

.btn-flat-show {
  color: $black;
  padding: 8px 24px;
  border-radius: 4px;
  background: $yellow-dark;
  transition: background 0.3s ease;
  bottom: 60px;
}

.btn-flat-review {
  color: $black;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  border: 1px solid $gray;
}

.btn-flat-text {
  color: $blue;
  transition: background 0.3s ease;
  font-size: 18px;
}

.btn-flat-text:hover {
  color: $gray;
  font-weight: strong;
}

.btn-flat-review:hover {
  color: $black;
  padding: 8px 24px;
  border-radius: 4px;
  border-radius: 4px;
  transition: background 0.3s ease;
  border: 1px solid #000000;
}

.btn-flat:hover {
  background: $black;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
