// button to toggle between map and list
.map-list-button {
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 45px;
  border-radius: 50px;
  background-color: #ffbc00;
  position: fixed;
  bottom: 20px;
  right: 20px;
  align-items: center;
  color: $white;
  padding: 15px;
  outline: $black solid .5px;
  transition: all 0.2s ease;
  // box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

  &:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    color: $black;
  }

  h3 {
    margin: 0;
    font-size: 13px;
  }

  .symbol {
    color: $black;
    font-size: 20px;
  }
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: $black;
  padding: 8px 24px;
  border-radius: 10px;
  background: $yellow-dark;
  transition: background 0.2s ease;
  position: fixed;
  bottom: 60px;
  z-index: 1;
}

.btn-flat-show {
  color: $black;
  padding: 8px 24px;
  border-radius: 4px;
  background: $yellow-dark;
  // transition: background 0.3s ease;
  bottom: 60px;
}

.btn-form {
  color: $black;
  padding: 8px 20px;
  border-radius: 10px;
  background: $yellow-dark;
  transition: background 0.2s ease;

  &:hover {
    background: $black;
    color: white;
  }
}

.btn-src-frm {
  background-color: $yellow-dark;
}

.btn-flat-review {
  color: $black;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  border: 1px solid $gray;
}

.btn-flat-text {
  color: $blue;
  transition: background 0.3s ease;
  font-size: 18px;
}

.btn-flat-text:hover {
  color: $gray;
  font-weight: strong;
}

.btn-flat-review:hover {
  color: $black;
  padding: 8px 24px;
  border-radius: 4px;
  border-radius: 4px;
  transition: background 0.3s ease;
  border: 1px solid #000000;
}

.btn-flat:hover {
  background: $black;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
