.card-floaty {
  //  border:  3px solid rgb(250, 250, 127);
   overflow: hidden;
  //  box-shadow: 0 0 15px rgba(0,0,0,0.2);
   margin-bottom: 24px;

  img {
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-radius: 10px;
  }

  h3 {
    color: $black;
    font-size: 24px;
    margin-top: 16px;
    font-weight: bold;
  }

  p {
    color: $gray;
    font-size: 14px;
  }

}

.card-floaty-show {
  margin-top: 32px;
  overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 400px;
      border-radius: 10px;
    }

    h3 {
      font-size: 24px;
      font-family: $headers-font;
      color: $black

    }
    p {
      font-size: 18px;
      font-family: $body-font;
      color: $blue;
    }
  }

  .card-floaty-show-text {
    margin-top: 32px;
    max-height: 500px;
    overflow: hidden;
    border-top: 1px solid rgb(196, 195, 195);
    border-bottom: 1px solid rgb(196, 195, 195);
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);

      h3 {
        margin-top: 28px;
        margin-bottom: 24px;
        font-size: 24px;
        font-family: $headers-font;
        color: $black;
        font-weight: 400;

      }
      p {
        font-size: 18px;
        font-family: $body-font;
        color: $gray;
      }
  }
