.card-floaty {
  //  border:  3px solid rgb(250, 250, 127);
   overflow: hidden;
  //  box-shadow: 0 0 15px rgba(0,0,0,0.2);
   margin-bottom: 24px;

  img {
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
  }

  h3 {
    color: $black;
    font-size: 24px;
    margin-top: 16px;
    font-weight: bold;
  }

  p {
    color: $gray;
    font-size: 14px;
  }

}

.card-floaty-show {
  overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height:350px;
      border-radius: 10px;
    }

    h3 {
      font-size: 20px;
      font-family: $headers-font;
      color: $black

    }
    p {
      font-size: 14px;
      font-family: $body-font;
      color: $black;
    }
  }

  .card-floaty-show-text {
    padding-top: 32px;
    padding-bottom: 32px;
    max-height: 500px;
    overflow: hidden;
    border-top: 1px solid rgb(196, 195, 195);
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);

      h3 {
        margin-bottom: 16px;
        font-size: 24px;
        font-family: $headers-font;
        color: $black;
        font-weight: 400;

      }
      p {
        font-size: 16px;
        font-family: $body-font;
        color: $black;
      }
  }

.card-review {
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid rgb(196, 195, 195);
  border-bottom: 1px solid rgb(196, 195, 195);

    h3 {
      margin-left: 16px;
      margin-top: 0;
      font-size: 20px;
      font-family: $headers-font;
      color: $black;
      font-weight: 400;
      padding: 0;

    }
    p {
      font-size: 16px;
      font-family: $body-font;
      color: $black;
      margin-top: 12px;
    }
}
