.footer {
  background: rgb(46, 46, 46);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  // position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links {
  a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
  }

  #credits {
    font-size: 12px;
  }

  .logo img{
    height: 23px;
    object-fit: cover;
  }
}
.footer-links a:hover {
  color: #ffbc00;
}
