.map {
  padding: 0 !important;
}


.mapboxgl-popup {
  max-width: 200px;

  .map-popup-img {
    overflow: hidden;
    object-fit: contain;
    border-radius: 10px;
    width: 100%;
    height: 150px;
  }
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
