.navbar-lewagon {
  justify-content: space-between;
  background: #ffbc00;
  border-bottom: 1px solid black;

  img {
  object-fit: cover;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
  min-height: 50px;
}
