
.navbar-floaties {
  display: flex;
  justify-content: space-between;
}

.navbar {
    background-color: transparent;
    transition: 1s background-color ease;
}

.nabbar_bg {
    background-color: $yellow-dark;
}

.navbar-brand img {
  height: 40px;
  object-fit: cover;
}

.navbar-nav .nav-link a{
  color: $white;
  font-weight: 500 !important;
}

.navbar-nav .dropdown-menu {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);

  .dropdown-item {
    font-size: 14px;
    font-weight: 400;
    color: $white;
    transition: background 0.3s ease;

    &:hover {
      background-color: #ffbb00d3; ;
    }
  }

  .dropdown-divider{
    border-top: .5px solid rgb(255, 255, 255);;
  }
}
