.navbar-lewagon {
  justify-content: space-between;
  background: #ffbc00;
  border-bottom: 1px solid black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 50px;
  object-fit: cover;
}

.navbar-buttons {
  color: black;
}
