.navbar-floaties {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  width: 100%;
  margin-bottom: 50px;
  z-index: 10;

}

.navbar-lewagon {
  justify-content: space-between;
  background: #ffbc00;
  border-bottom: 1px solid black;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
  object-fit: cover;
}

.navbar-buttons {
  color: black;
}

.nav-dropdown-icon {
  margin-right: 12px;
  margin-left: 18px;
  display: flex;
  align-items: center;

  i {
    font-size: 20px;
    color: black;
  }
}

.nav-link{
  color: rgb(46, 46, 46) !important;
}

.nav-button-hover {
  &:hover{
    border: 1px solid rgb(46, 46, 46);
    border-radius: 4px;
  }
}
